.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.caja{
    width: 450px;
    height: 500px;
    border: 2px solid;
    border-radius: 5px;
    border-color: orange;
}

.centrar{
    text-align: center;
}